name: ZMK Build Action

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Build with zmk-build-action
      uses: zmkfirmware/zmk-build-action@v2
      with:
        board: nice_nano_v2
        shield: dm17
        keymap: default
        config-dir: ./config
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dm17-firmware
        path: firmware/*.uf2
