name: DM17 Build

on:
  push:
    branches: [main]
  workflow_dispatch:

# 使用 ZMK 官方的构建 Action
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          
      - name: Build
        # 使用 ZMK 官方构建 Action
        uses: zmkfirmware/zmk-build-action@v2
        with:
          board: nrf52840dk_nrf52840
          shield: dm17
          keymap: default
          config-dir: ./config
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: dm17-firmware
          path: firmware/*.uf2
